<%= content_for :page_title, 'Fundraising Marketplace | Update your seller account' %>
<div class="container">
  <div class="row topspace-lg">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Update your account info</h1>
      <div>
        <%= render 'layouts/messages' %>
        <%= render 'identity_verification_form' %>
      </div>
    </div>
  </div>
</div>