<%= content_for :page_title, 'Fundraising Marketplace | Terms' %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 topspace-lg">
      <h1 class="text-center page-header">Terms of service</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        Your managed accounts must agree to Stripe's <a href="https://stripe.com/us/connect-account/legal">Connected Account Agreement</a>. Read more about this in <a href="https://support.stripe.com/questions/what-do-i-need-to-include-in-my-terms-of-service-as-a-marketplaces-owner-how-do-i">this support article</a>.
      </p>
    </div>
  </div>
</div>