<%= content_for :page_title, "Add a new bank account" %>
<% content_for(:header) do %>
  <script src="https://js.stripe.com/v2/"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.4.1/jquery.payment.js"></script>
  <script>
    // Set your Stripe publishable API key here
    Stripe.setPublishableKey("<%= ENV['PUBLISHABLE_KEY'] %>");

    $(function() {
      var $form = $('#payment-form');
      $form.submit(function(event) {
        // Clear any errors
        $form.find('.has-error').removeClass('has-error');

        // Disable the submit button to prevent repeated clicks:
        $form.find('.submit').prop('disabled', true).html("<i class='fa fa-spinner fa-spin'></i> Creating account");

        // Request a token from Stripe:
        Stripe.bankAccount.createToken($form, stripeResponseHandler);
        
        // Prevent the form from being submitted:
        return false;
      });

      // Switch or hide 'routing number' depending on currency
      $('#currency').change(function(){
        $('#routing_number_div').show();
        $('#account_number_label').text('Account Number').next('input').attr('placeholder', '');
        $('#routing_number').attr('data-stripe', 'routing_number');
        switch (this.value) {
          case "usd":
            $('#routing_number_label').text('Routing Number').next('input').attr('placeholder', '111000000');
            break;
          case "eur":
            // No routing number needed
            $('#routing_number_div').hide();
            $('#routing_number').removeAttr('data-stripe');
            $('#account_number_label').text('IBAN').next('input').attr('placeholder','XX9828737432389');
            break;
          case "cad":
            $('#routing_number_label').text('Transit & Institution Number');
            break;
          case "gbp":
            $('#routing_number_label').text('Sort Code').next('input').attr('placeholder', '12-34-56');
            break;
          case "mxn":
            $('#routing_number_label').text('CLABE');
            break;
          case 'aud': case "nzd":
            $('#routing_number_label').text('BSB').next('input').attr('placeholder', '123456');
            break;
          case 'sgd': case "jpy": case "brl": case "hkd":
            $('#routing_number_label').text('Bank / Branch Code');
            break;
        }
      });
    });

    function stripeResponseHandler(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.errors').text(response.error.message).addClass('alert alert-danger');
        $form.find('.' + response.error.param).parent('.form-group').addClass('has-error');
        $form.find('button').prop('disabled', false).text('Add Bank Account'); // Re-enable submission
      } 
      else { // Token was created!
        $form.find('.submit').html("<i class='fa fa-check'></i> Account added");
        
        // Get the token ID:
        var token = response.id;

        // Insert the token and name into the form so it gets submitted to the server:
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));

        // Submit the form:
        $form.get(0).submit();
      }
    }
  </script>
<% end %>
<div class="container">
  <div class="row topspace-lg">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Add a bank account</h1>
      <div>
        <%= render 'layouts/messages' %>
        <%= render 'bank_account_form' %>
        <p class="text-center">
          <a href="https://stripe.com/docs/testing#managed-accounts" target="_blank">Test bank account numbers</a>
        </p>
      </div>
    </div>
  </div>
</div>
