<div class="panel panel-default">
  <div class="panel-body">
    <form action="/charges" method="POST" id="payment-form">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="payment-errors"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Donation amount</label>
            <input class="form-control input-lg" id="amount" name="amount" type="text" placeholder="$10.00">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Cardholder Name</label>
            <input class="form-control input-lg" id="name" name="name" type="text" data-stripe="name" placeholder="Jimmy Dean">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label><span id="card_type"></span> Card Number</label>
            <input class="form-control input-lg" id="number" type="tel" size="20" data-stripe="number" placeholder="4242 4242 4242 4242">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <label>Expiry</label>
            <input class="form-control input-lg" id="cc_exp" type="tel" size="2" data-stripe="exp" placeholder="MM / YY">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label>CVC</label>
            <input class="form-control input-lg" id="cvc" type="tel" size="4" data-stripe="cvc" placeholder="555" autocomplete="off">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input type="hidden" name="campaign" value="<%= @campaign.id %>">
          <button class="btn btn-lg btn-block btn-primary btn-custom submit" type="submit">
            Make a donation
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<p class="text-center topspace">
  <a href="?">Use Stripe Checkout</a>
</p>