<div class="panel panel-default">
  <div class="panel-body">
    <form action="/charges" method="POST" id="payment-form">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="payment-errors"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Donation amount</label>
            <input class="form-control input-lg" id="amount" name="amount" type="text" placeholder="$10.00">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Cardholder Name</label>
            <input class="form-control input-lg" id="name" name="name" type="text" data-stripe="name" placeholder="Jimmy Dean">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <span>Card</span>
            <span id="card" class="form-control input-lg field">
              <!-- a Stripe element will be inserted here. -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input type="hidden" name="campaign" value="<%= @campaign.id %>">
          <button class="btn btn-lg btn-block btn-primary btn-custom submit" type="submit">
            Make a donation
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<script>
var stripe = Stripe('pk_test_PnGDuS8CtF0xPA17inYiarcj');
var elements = stripe.elements();

// Construct the Stripe element:

var card = elements.create('card', {
  iconColor: 'magenta',
  style: {
  	base: {
      fontSize: '16px'
    },
  }
});

// Initialize the Stripe element into the DOM `span` element, with id="card":
card.mount('#card');

var stripeResponseHandler = function(status, response) {
  // Grab the form:
  var form = document.getElementById('payment-form');

  if (response.error) { // Problem!
    // Show the errors on the form:
  } else { // Token was created!
    // Get the token ID:
    var token = response.id;

    // Insert the token ID into the form so it gets submitted to the server:
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token);
    form.appendChild(hiddenInput);

    // Submit the form:
    form.submit();
  }
};

// Create a token when the form is submitted
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(e) {
  e.preventDefault();
  Stripe.card.createToken(form, stripeResponseHandler);
});

function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server:
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form:
  form.submit();
}

function createToken() {
  stripe.createToken(card).then(
    function(token) {
      stripeTokenHandler(token); // send this to your server
    },
    function(error) {
      console.log(error); // display an error
    }
  );
};

// Create a token when the form is submitted.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(e) {
  e.preventDefault();
  createToken();
});

</script>
