<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <% if user_signed_in? %>
          <% else %>
          <% end %>
        </p>
        <p class="text-muted">
          <a href="#"><span class="fa fa-github"></span> Explore the source code on Github</a>
        </p>
      </div>
    </div>
  </div>
</footer>