<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted">
          This is a <a href="https://stripe.com/docs/connect/" taret="_blank">Stripe Connect</a> example application. All transactions happen in <a href="https://stripe.com/docs/dashboard#livemode-and-testing">test mode</a>.
        </p>
        <p>
          <a href="https://github.com/adam-stripe/stripe-connect-managed-rails"><span class="fa fa-github"></span> Explore the source code on Github</a>
        </p>
      </div>
    </div>
  </div>
</footer>